

<div class="wallpaper-image" >
  <div style="    display: flex;justify-content: center;" >
    
    <p class="signp">Sign-In</p>
  </div>
  <div class="input-box">
      <form [formGroup]="signupform" >
  <ion-item class="item-view" >
    <ion-label   >
      <ion-icon  name="person"></ion-icon>
    </ion-label>
    <ion-input formControlName="email"  placeholder="UserName" type="text"></ion-input>
  </ion-item>
  <div *ngIf="!signupform.controls.email.valid  && (signupform.controls.email.dirty || submitAttempt)">
    <p class="error-text">*Please enter a valid UserName</p>
  </div>
  <ion-item class="item-view" style="    margin-top: 36px;">
    <ion-label  >
      <ion-icon  name="lock"></ion-icon>
    </ion-label>
    <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
  </ion-item>
  <div *ngIf="!signupform.controls.password.valid  && (signupform.controls.password.dirty || submitAttempt)">
    <p class="error-text">*Please Enter Password</p>
   </div>
   </form>
  </div>
  <div  class="forget-view">
    <u>Forget Password?</u>
  </div>

  <div style="padding: 13px;" >
    <button [disabled]="signupform.valid==false" (click)=" loginuser()" expand="block" class="ion-butt"   color="primary" ion-button>Sign In</button>
  </div>
  
 
  </div>
  
